# Python Objects & Data Structure Basics

## Numbers

In [1]:
2+2

4

In [2]:
3-2

1

In [3]:
#Classic division in Python 2 gives - 1
#To import features of python 3 in python 2 - import the __future__ library
    #from __future__ import division 
    #3/2 --> gives 1.5

#True division in Python 3 gives 1.5

3/2

1.5

In [4]:
3.0/2

1.5

In [5]:
3/2.0

1.5

In [6]:
#Casting an integer '3' to float '3.0'
float(3)

3.0

In [7]:
float(3)/2

1.5

In [8]:
#Power
2**3

8

In [9]:
4**0.5

2.0

In [10]:
#Order of Operations
2+3*4+5

19

In [11]:
(2+3)*(4+5)

45

In [13]:
a = 5
a + a

10

In [14]:
a = 10
a + a

20

In [15]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [16]:
my_taxes

10.0

## Strings

In [1]:
'Hello'

'Hello'

In [2]:
#Every single element including spaces is a part of sequence in string
'This is also a string'

'This is also a string'

In [3]:
"I'm a string"

"I'm a string"

In [4]:
#Python 2 has print syntax as - print 'Hello world'
print ('Hello world 1')
print ('Hello world 2')

Hello world 1
Hello world 2

In [5]:
print ("This is first line \nThis is new line \tThis is tab space")

This is first line
This is new line 	This is tab space

In [6]:
len('hello world')

11

In [7]:
s = 'Hello World'

In [8]:
print (s)

Hello World

In [9]:
s[0]

'H'

In [10]:
s[1]

'e'

In [11]:
s[1:]

'ello World'

In [12]:
s[:-1]

'Hello Worl'

In [13]:
s[2:5]

'llo'

In [14]:
s[:3]

'Hel'

In [15]:
s[-1]

'd'

In [16]:
s[:]

'Hello World'

In [17]:
s[::1]

'Hello World'

In [18]:
s[::2]

'HloWrd'

In [19]:
s[::-1]

'dlroW olleH'

In [21]:
#Strings are immutable
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [22]:
#concatenation
s + 'concatenate me'

'Hello Worldconcatenate me'

In [23]:
s*10

'Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World'

In [24]:
s.upper()

'HELLO WORLD'

In [25]:
s.lower()

'hello world'

In [27]:
s.split()

['Hello', 'World']

In [28]:
s.split('e')

['H', 'llo World']

In [29]:
a='Sammy'

In [30]:
a[2:]

'mmy'

## Print Formatting

In [31]:
print ("This is a string")

This is a string

In [32]:
x = '123'
print ("my string is : %s"%(x))

my string is : 123

In [39]:
#Number after decimal point(if larger than specified number of digits) is filled with zeros
print ("Floating point number: %1.2f" %(12.1245))
print ("Floating point number: %1.1f" %(12.1245))
print ("Floating point number: %1.10f" %(12.1245))

#Number before decimal point(if larger than specified number of digits) is filled with white spaces
print ("Floating point number: %2.2f" %(12.1245))
print ("Floating point number: %25.2f" %(12.1245))

Floating point number: 12.12
Floating point number: 12.1
Floating point number: 12.1245000000
Floating point number: 12.12
Floating point number:                     12.12

In [40]:
print ("Convert to string %s" %(123))

Convert to string 123

In [41]:
print ("First: %s, Second: %s, Third: %s"%('hi', 'two', 3))

First: hi, Second: two, Third: 3

In [42]:
print ("First: %s, Second: %s"%(2,2))

First: 2, Second: 2

In [45]:
print ("First: {x}, Second: {x}".format(x='hello'))
print ("First: {x}, Second: {y}".format(x='hello', y='world'))

First: hello, Second: hello
First: hello, Second: world

## Lists

In [46]:
l1 = [1,2,3]
l1

[1, 2, 3]

In [48]:
#List is mutable
l1 = ['hello',13.2, 234]
l1

['hello', 13.2, 234]

In [50]:
len(l1)

3

In [51]:
l1[0]

'hello'

In [52]:
l1[:3]

['hello', 13.2, 234]

In [53]:
l1[1:]

[13.2, 234]

In [54]:
'hello' + 'world'

'helloworld'

In [58]:
l1 = l1 + ['new item']
l1

['hello', 13.2, 234, 'new item', 'new item']

In [59]:
l1 * 2

['hello',
 13.2,
 234,
 'new item',
 'new item',
 'hello',
 13.2,
 234,
 'new item',
 'new item']

In [60]:
l1

['hello', 13.2, 234, 'new item', 'new item']

In [61]:
#removes last element
l1.pop()

'new item'

In [62]:
l1

['hello', 13.2, 234, 'new item']

In [63]:
l1.append('new item 2')

In [64]:
l1

['hello', 13.2, 234, 'new item', 'new item 2']

In [65]:
l1.pop(1)

13.2

In [66]:
l1

['hello', 234, 'new item', 'new item 2']

In [67]:
#list index out of range
l1[99]

IndexError: list index out of range

In [69]:
l2 = ['a', 'e', 'x', 'b', 'c']
l2.reverse()
l2

['c', 'b', 'x', 'e', 'a']

In [70]:
l2.sort()
l2

['a', 'b', 'c', 'e', 'x']

In [72]:
l3=[1,2,3]
l4=[4,5,6]
l5=[7,8,9]

matrix = [l3,l4,l5]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [73]:
matrix[1]

[4, 5, 6]

In [74]:
matrix[1][2]

6

In [76]:
# List comprehension
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

## Dictionaries

In [77]:
d1 = {'k1':'v1', 'k2':'v2', 'k3':'v3'}

In [78]:
d1[0]

KeyError: 0

In [83]:
d1['k1'] = 'hello'
d1['k1']
d1['k1'].upper()
d1['k1'].lower()

'hello'

In [85]:
d1['k2']=100
d1['k2'] = d1['k2']-50
d1['k2']

50

In [87]:
d = {}
d['animal'] = 'dog'
d['answer'] = '42'
d

{'animal': 'dog', 'answer': '42'}

In [88]:
d = {'k1':{'nestkey':{'subnestkey':'val1'}, 'nestkey2':'val3'}, 'k2':'val2'}

In [89]:
d

{'k1': {'nestkey': {'subnestkey': 'val1'}, 'nestkey2': 'val3'}, 'k2': 'val2'}

In [91]:
d['k1']

{'nestkey': {'subnestkey': 'val1'}, 'nestkey2': 'val3'}

In [92]:
d['k1']['nestkey']

{'subnestkey': 'val1'}

In [93]:
d['k1']['nestkey']['subnestkey']

'val1'

In [94]:
d['k1']['nestkey2']

'val3'

In [95]:
d['k2']

'val2'

In [96]:
d.keys()

dict_keys(['k1', 'k2'])

In [97]:
d['k1'].keys()

dict_keys(['nestkey', 'nestkey2'])

In [98]:
d.values()

dict_values([{'nestkey': {'subnestkey': 'val1'}, 'nestkey2': 'val3'}, 'val2'])

In [99]:
d.items()

dict_items([('k1', {'nestkey': {'subnestkey': 'val1'}, 'nestkey2': 'val3'}), ('k2', 'val2')])

## Tuples

In [114]:
#Tuples similar to lists but they are immutable
t1 = (1,2,3)
t2 = ('one', 'hello', 'hello')

In [106]:
t1[0] = 'x'

TypeError: 'tuple' object does not support item assignment

In [102]:
t1[1]

2

In [103]:
t1[-1]

3

In [108]:
t1[0]

1

In [109]:
t1.index(2)

1

In [111]:
t1.index(3)

2

In [112]:
t1.count(3)

1

In [115]:
t2.index('hello')

1

In [116]:
t2.count('hello')

2

## Files

In [117]:
pwd

'D:\\Study\\Practice\\CompletePythonBootCamp'

In [119]:
f=open('test.txt')

In [120]:
f.read()

'This is a sample file.\nThis is second line.\nThis is third line.'

In [121]:
#Gives blank output because the cursor has already reached EOF after reading the file once, above
f.read()

''

In [122]:
#To send the cursor back to start of the file, using following
f.seek(0)

0

In [123]:
#Now it reads from start of the file
f.read()

'This is a sample file.\nThis is second line.\nThis is third line.'

In [124]:
f.seek(0)

0

In [125]:
f.readlines()

['This is a sample file.\n', 'This is second line.\n', 'This is third line.']

In [129]:
%%writefile newtest.txt #Create a new file
First line.
Second line.

Writing newtest.txt

In [131]:
for words in open('newtest.txt'):
    print (words)

First line.

Second line.

## Sets & Booleans

In [132]:
#Sets are unordered collection of unique elements

In [133]:
x=set()

In [134]:
x

set()

In [135]:
x.add(1)

In [136]:
x

{1}

In [137]:
x.add(2)

In [138]:
x

{1, 2}

In [139]:
l = [1,1,1,2,2,2,2,3,3,4,4,5]
#cast list to set
set(l)

{1, 2, 3, 4, 5}

In [142]:
#Booleans
a = 'true'
a

'true'

In [143]:
1>2

False

In [148]:
b='None'
b = 'a'
b

'a'

In [149]:
set([1,1,2,3])

{1, 2, 3}

# Comparison Operators

In [150]:
2==2

True

In [151]:
1==0

False

In [152]:
1!=0

True

In [154]:
2!=2

False

In [155]:
2>3

False

In [156]:
3<2

False

In [157]:
4>=5

False

In [158]:
5<=6

True

In [159]:
1<2<3

True

In [160]:
1<2 and 2<3

True

In [161]:
1<2 or 3>2

True

In [162]:
1<2>3

False

# Python Statements

## if, elif, else statements

In [163]:
if 1>2:
    print ("1>2")
elif 2>3:
    print ("2>3")
else:
    print ("None condition was true")

None condition was true

In [164]:
loc = 'mumbai'
if loc == 'pune':
    print ("pune")
elif loc == 'bangalore':
    print ("bangalore")
else:
    print ("loc is mumbai")

loc is mumbai

## For Loops

In [166]:
l = [1,2,3,4,5]
for ele in l:
    print (ele)
    print ("something")

1
something
2
something
3
something
4
something
5
something

In [167]:
#MODULO
10 % 3

1

In [168]:
for ele in l:
    if ele%2==0:
        print (ele)
    else:
        print ("odd num: {}".format(ele))

odd num: 1
2
odd num: 3
4
odd num: 5

In [170]:
sum = 0
for ele in l:
    sum = sum + ele
    
print (sum)

15

In [172]:
s = "String"
for letter in s:
    print (letter)

S
t
r
i
n
g

In [174]:
tup = (1,2,3,4,5)
for ele in tup:
    print (ele)

1
2
3
4
5

In [175]:
l = [(1,2), (3,4), (5,6)]

In [177]:
l[0]

(1, 2)

In [179]:
for tup in l:
    print (tup)

(1, 2)
(3, 4)
(5, 6)

In [181]:
#Tuple unpacking
for (t1,t2) in l:
    print (t1+t2)

3
7
11

In [182]:
d = {'k1':'v1','k2':'v2','k3':'v3'}
d

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [184]:
for item in d:
    print (item)

k1
k2
k3

In [186]:
for k,v in d.items():
    print (k)
    print (v)

k1
v1
k2
v2
k3
v3

## While Loop

In [3]:
x = 0
while x<5:
    print ("x is:{}".format(x))
    x=x+1

x is:0
x is:1
x is:2
x is:3
x is:4

In [7]:
# Break Continue Pass
x = 0
while x<10:
    print ("x is:{}".format(x))
    x=x+1
    if x==3:
        print ("x is 3.....!!")
        break
    else:
        continue

x is:0
x is:1
x is:2
x is 3.....!!

## range()

In [12]:
# range() in python 2 returns a list and saves it in memory.
# If we dont want to save it in memory, then xrange() is used in python 2
# In python 3, range() does not allocate memory and hence does not return a list and also does not require xrange() function

for num in range(1,6):
    print (num)

1
2
3
4
5

In [14]:
x=range(1,6)
type(x)

range

In [15]:
list(x)

[1, 2, 3, 4, 5]

## List Comprehension

In [17]:
l3=[1,2,3]
l4=[4,5,6]
l5=[7,8,9]

matrix = [l3,l4,l5]

first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

In [19]:
l=[]
for letter in 'word':
    l.append(letter)
    
print("l is:{}".format(l))

lst = [x for x in 'word']
lst

l is:['w', 'o', 'r', 'd']

['w', 'o', 'r', 'd']

In [20]:
lst = [x**2 for x in range(0,11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
lst = [num for num in range(0,11) if num%2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [23]:
cel = [0, 10, 20.1, 32.4]

fah = [(temp*(9/5.0) + 32) for temp in cel]
fah

[32.0, 50.0, 68.18, 90.32]

In [24]:
#nested list comprehension
lst = [x+2 for x in [x**2 for x in range(0,11)]]
lst

[2, 3, 6, 11, 18, 27, 38, 51, 66, 83, 102]

# Methods & Functions}

## Methods

In [27]:
l = [1,2,3]
print (l.append(4))
print (l)
print (l.count(2))

None
[1, 2, 3, 4]
1

In [28]:
help(l.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

## Functions

In [29]:
def nof():
    pass

nof()

In [30]:
def nof(a, b):
    pass

nof()

TypeError: nof() missing 2 required positional arguments: 'a' and 'b'

In [31]:
def nof(a, b):
    """
    Here is my doc string
    """
    print (a+b)

nof(1,2)

3

In [32]:
def say_hello():
    print ("Hello")

say_hello()

Hello

In [35]:
def say_hello(name):
    print ("Hello {}".format(name))

say_hello("ilu")

Hello ilu

In [36]:
def addnum(a, b):
    """
    Here is my doc string
    """
    return a+b

addnum('one','two')

'onetwo'

In [39]:
def is_prime(num):
    """
    Checks for a prime number
    """
    for n in range(2,num):
        if num % n == 0:
            print ("Not prime")
            break
    else:
        print ("Number is prime")
            
is_prime(12)

Not prime

## Lambda Expression

In [40]:
def square(n):
    return n**2

In [41]:
square2 = lambda num: num**2
square2(3)

9

In [42]:
even = lambda num: num%2==0
even(4)

True

In [43]:
even(5)

False

In [44]:
firstchar = lambda s: s[0]
firstchar('hello')

'h'

In [45]:
reverse = lambda s: s[::-1]
reverse('hello')

'olleh'

In [46]:
add = lambda x,y: x+y
add(2,4)

6

In [47]:
lencheck = lambda item: len(item)
lencheck("This is a string")

16

## Nested Statements & Scope

In [50]:
x = 25 #global
def printer():
    x = 50 #local
    return x

print (x)
printer()

25

50

In [51]:
name = "This is global name" #global
def greet():
    #Enclosing function
    name = "Sammy"
    
    def hello():
        print ("Hello {}".format(name))
    
    hello()
greet()

Hello Sammy

In [52]:
x = 50 #global
def func(x):
    print ("x is {}".format(x)) #prints global
    x = 2 #local
    print ("changed local x to {}".format(x)) #prints local
    
func(x)
print ("x is still {}".format(x)) #prints global

x is 50
changed local x to 2
x is still 50

In [54]:
def vol(rad):
    return (4.0/3)*(3.14)*(rad**3)

vol(3)

113.03999999999999

In [56]:
def rancheck(n, l, h):
    if n in range(l, h):
        print ("{} is in range {} and {}".format(n, l, h))
    else:
        print ("{} is out of range".format(n))
        
rancheck(11,0,10)

11 is out of range

In [57]:
def ranbool(n,l,h):
    return n in range(l,h)

ranbool(5,0,8)

True

In [59]:
s = "Hello, Mr. Roger..!! How are you, this fine Tuesday?"
def uplow(s):
    d={'u':0, 'l':0}
    for c in s:
        if c.isupper():
            d['u']+=1
        elif c.islower():
            d['l']+=1
        else:
            pass

    print ("Original String:{}".format(s))
    print ("Upper case chars:{}".format(d['u']))
    print ("lower case chars:{}".format(d['l']))

In [60]:
uplow(s)

Original String:Hello, Mr. Roger..!! How are you, this fine Tuesday?
Upper case chars:5
lower case chars:31

In [61]:
def unique(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
    return (x)

l = [1,2,1,3,4,3,2,3,4,5,6,6,6,7,8,9,7,0,0,7,5,4,6,8,4]
unique(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [63]:
def multiply(l):
    res = l[0]
    for a in l:
        res *= a
    return res

l = [1,2,3,-4]
multiply(l)

-24

In [65]:
def ispalindrome(s):
    return s == s[::-1]

ispalindrome("hello")

False

In [66]:
checkpalindrome("madam")

True

In [69]:
import string
def ispangram(s, a=string.ascii_lowercase):
    aset = set(a)
    return aset <= set(s.lower())

ispangram("The quick brown fox jumps over the lazy dog")

True

In [68]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'