# Data types

## Numbers

In [1]:
1+1

2

In [2]:
65-24

41

In [3]:
95*3

285

In [4]:
45/9

5.0

In [5]:
2**4

16

In [6]:
16%2

0

In [7]:
15%2

1

In [8]:
(2+3)*(5-5)

0

## Variables

In [9]:
name_of_var = 2

In [10]:
x = 4
y = 6

In [11]:
z=x+y

In [12]:
z

10

## Strings

In [13]:
'single quotes'

'single quotes'

In [14]:
"double quotes"

'double quotes'

## Comments

In [15]:
#Single Line comment

In [17]:
"""Multi-line comment
First Line
Second Line
Third Line"""

'Multi-line comment\nFirst Line\nSecond Line\nThird Line'

## Printing

In [18]:
str = 'hello'

In [19]:
print (str)

hello

In [20]:
str

'hello'

In [21]:
num = 12
name = 'Sam'

In [23]:
print ("Name: {one} \nNumber: {two}".format(one=name,two=num))

Name: Sam
Number: 12

In [25]:
print ("Name: {} \nNumber: {}".format(name, num))

Name: Sam
Number: 12

## Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
my_list=[1,2,3]

In [51]:
#List of lists
new_list = ['hi',[1,2,3],4,5]

In [52]:
nest = [1,2,3,[4,5,['target']]]

In [137]:
#Accessing lists
print ("my_list[1]: {}".format(my_list[1]))
print ("my_list: {}".format(my_list))
print ("new_list[1]: {}".format(new_list[1]))
print ("new_list[1][1]: {}".format(new_list[1][1]))
print ("new_list[-1]: {}".format(new_list[-1]))
print ("new_list[:2]: {}".format(new_list[:2]))
print ("new_list[2:]: {}".format(new_list[2:]))
print ("new_list: {}".format(new_list))

#Append new element to existing list
#new_list.append('hello')
print ("Hello appended to new list - new_list: {}".format(new_list))

#Remove last element from the list
new_list.pop()
print ("Hello is popped/deleted from new_list: {}".format(new_list))

print ("nest[3]: {}".format(nest[3]))
print ("nest[3][2]: {}".format(nest[3][2]))
print ("nest[3][2][0]: {}".format(nest[3][2][0]))

my_list[1]: 2
my_list: [1, 2, 3]
new_list[1]: [1, 2, 3]
new_list[1][1]: 2
new_list[-1]: hello
new_list[:2]: ['hi', [1, 2, 3]]
new_list[2:]: [4, 5, 'hello']
new_list: ['hi', [1, 2, 3], 4, 5, 'hello']
Hello appended to new list - new_list: ['hi', [1, 2, 3], 4, 5, 'hello']
Hello is popped/deleted from new_list: ['hi', [1, 2, 3], 4, 5]
nest[3]: [4, 5, ['target']]
nest[3][2]: ['target']
nest[3][2][0]: target

## Dictionaries

In [58]:
d = {'key1':'val1', 'key2':'val2'}

In [140]:
print (d)

{'key1': 'val1', 'key2': 'val2'}

In [141]:
d.items()

dict_items([('key1', 'val1'), ('key2', 'val2')])

In [60]:
d.keys()

dict_keys(['key1', 'key2'])

In [61]:
d.values()

dict_values(['val1', 'val2'])

In [138]:
d['key1']

'val1'

## Boolean

In [64]:
True

True

In [142]:
False

False

In [147]:
'x' in [1,2,3]

False

In [146]:
'x' in ['x','y','z']

True

## Tuples

In [66]:
t = (1,2,3)

In [67]:
t[0]

1

In [68]:
print ("tuple - t[1]: {}".format(t[1]))

tuple - t[1]: 2

In [69]:
#Tuples are immutable - an element of a tuple can't be changed or replaced - it gives error
t[2] = 4

TypeError: 'tuple' object does not support item assignment

## Sets

In [70]:
#Always contains unique values only.

set1 = {1,2,3}
print ("Set1: {}".format(set1))

Set1: {1, 2, 3}

In [71]:
set2 = {1,1,2,3,4,2,5,3,5,4}
print ("Set2: {}".format(set2))

Set2: {1, 2, 3, 4, 5}

## Operators

### Comparison Operators

In [72]:
1 > 2

False

In [73]:
2 < 4

True

In [74]:
1 == 2

False

In [75]:
5 != 6

True

In [76]:
1 >= 4

False

In [77]:
1 <= 4

True

In [78]:
'hi' == 'bye'

False

### Logical Operators

In [79]:
(1 > 2) and (2 < 4)

False

In [80]:
(1 > 2) or (2 < 4)

True

In [81]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## Conditional Statements

### if, elif, else statements

In [82]:
if (1<2):
    print ("Yes - 1 < 2")

Yes - 1 < 2

In [83]:
if (1>2):
    print ("1 is greater than 2")
else:
    print ("1 is less than 2")

1 is less than 2

In [84]:
if (1>2):
    print ("1 is greater than 2")
elif (5>=8):
    print ("5 is greater than 8")
else:
    print ("None of the above is true")

None of the above is true

### For Loop

In [85]:
seq = [1,2,3,4,5]

In [86]:
for item in seq:
    print(item)

1
2
3
4
5

In [87]:
for jelly in seq:
    print(jelly + jelly)

2
4
6
8
10

### While Loop

In [90]:
i = 1
while i<=5:
    print ("i is: {}".format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

### range()

In [91]:
range(5)

range(0, 5)

In [92]:
for i in range(5):
    print(i)

0
1
2
3
4

In [93]:
list(range(5))

[0, 1, 2, 3, 4]

### List Comprehension

In [94]:
x = [1,2,3,4]

In [95]:
out = []
for item in x:
    out.append(item**2)
print (out)

[1, 4, 9, 16]

In [101]:
#list comprehension
res = [(item**2) for item in x]
print (res)

[1, 4, 9, 16]

### Functions

In [102]:
def my_func(p1='default'):
    """
    Doc String goes here
    """
    print (p1)

In [103]:
my_func

In [104]:
my_func()

default

In [105]:
my_func('hello')

hello

In [120]:
def square(x):
    """ Squares a number """
    return (x**2)

sq = square(4)
sq

16

### lambda expression

In [121]:
def times2(var):
    return var*2

In [122]:
times2(4)

8

In [124]:
times = lambda var: var*2
print (times)

<function <lambda> at 0x0000000007215510>

### map & filter

In [125]:
print (seq)

[1, 2, 3, 4, 5]

In [126]:
map (times2, seq)

In [127]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [128]:
list(map(lambda var:var*3, seq))

[3, 6, 9, 12, 15]

In [131]:
reslist = list(filter(lambda var:var%2==0, seq))

In [132]:
print (reslist)

[2, 4]

### Methods

In [148]:
st = "Hello, my name is Ilu"
tweet = "All the best..!!! #Finale"

In [149]:
st.upper()

'HELLO, MY NAME IS ILU'

In [150]:
st.lower()

'hello, my name is ilu'

In [151]:
st.split()

['Hello,', 'my', 'name', 'is', 'Ilu']

In [152]:
tweet.split('#')

['All the best..!!! ', 'Finale']

In [153]:
tweet.split('#')[1]

'Finale'